* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: #1F2937;
}

.headerLogoText {
    font-size: 24px;
    color: #F9FAF8;
}

.headerLinkText {
    display: flex;
    gap: 20px;
    list-style: none;
}

.headerLinkText a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    background-color: #1F2937;
    color: white;
}

.heroMainText {
    max-width: 45%;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.heroMainText p{
    font-size: 18px;
    color: #E5E7EB;
}


.hero button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.hero img {
    background-color: grey;
    width: 400px;
    height: 200px;
}

.sec2 {
    text-align: center;
    padding: 50px;
}
.sec2 h2 {
    margin-bottom: 50px;
    font: 36px;
    color: #1F2937;
    font-weight: 900;
}

.sec2 ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding-left: 15%;
    padding-right: 15%;
}

.sec2 li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec2 img {
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.sec2 p {
    max-width: 90%;
}

.sec3 {
    background-color: #E5E7EB;
    text-align: center;
    padding: 100px;
    font-style: light italic;
    font-size: 36px;
    color: #1F2937;
}

.sec3 p:last-child {
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}

.sec4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    margin: 100px;
    padding: 30px 100px;
    border-radius: 10px;
    color: white;
    
}

.sec4 button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1F2937;
    color: white;
}