* {
    outline: red solid 1px;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header, .sec1 {
    background-color: #1F2937;
}

header, footer {
    padding: 15px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
}

.headerLogoText {
    color: #F9FAF8;
}

.headerLinkText {
    color: #E5E7EB;
}

.hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.heroMainText {
    color: #F9FAF8;
    font-weight: 900;
}

.sec1 {;
    display: flex;
    justify-content: space-around;
    flex: 1;
    align-items: center;
}

.sec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-top: 15px;
}

.sec3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
    flex: 1;
    padding: 15px;
}

.sec4 {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    flex: 1;
    margin: 30px;
}


footer {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkslategrey;
}

button {
    background-color: #3882F6;
}

h2 {
    color: #1F2937;
    font-weight: 900;
}

.quote {
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
}